<div class="container">
    <h2>
        Panes
    </h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#names">Names</a></li>
        <li role="presentation"><a href="#pane1">tab#2</a></li>
        <li role="presentation"><a href="#pane_2">tab#3</a></li>
    </ul>
    <div class="tab-content">
        <div id="names" class="tab-pane fade in active">
            <h5>Using Angular Component to display names</h5>
            <name-list></name-list>
        </div>
    </div>
</div>
